<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>covid19</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Entities2" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="covid19.Models.Entities2, covid19" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="OracleDbContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="USER ID=oracle_user;PASSWORD=oracle_user_password;DATA SOURCE=oracle" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OracleDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="USER ID=SA;PASSWORD=123456;DATA SOURCE=localhost:1522/covid19db;PERSIST SECURITY INFO=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.oracle_covid19db.csdl|res://*/Models.oracle_covid19db.ssdl|res://*/Models.oracle_covid19db.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1522/covid19db;PASSWORD=123456;PERSIST SECURITY INFO=True;USER ID=SA&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="USER ID=SA;PASSWORD=123456;DATA SOURCE=localhost:1522/covid19db;PERSIST SECURITY INFO=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.oracle_covid19db.csdl|res://*/Models.oracle_covid19db.ssdl|res://*/Models.oracle_covid19db.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1522/covid19db;PASSWORD=123456;PERSIST SECURITY INFO=True;USER ID=SA&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OracleDbContext-Web.config Connection String" />
  </ItemGroup>
</Project>